################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RCM/bin/Debug
/RCM/bin/Release
/RCM/obj/x86
/.vs
/.vs/NALABS/v15/Server/sqlite3
/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000



.DS_Store
.idea/