<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultFunctionalReqFilePath" value="\Plugins\FunctionalReq.xlsx"/>
    <add key="CIFunctionalReqFilePath" value="./RCM/Plugins/FunctionalReq.xlsx"/>
    <add key="CISettingsPath" value="./RCM/Settings/Settings.xml"/>
    <add key="CIOutputSettingsPath" value="./RCM/Settings"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
