<?xml version="1.0"?>
<configuration>
  <!-- Only one <configSections> element allowed, and it must come first -->
  <configSections>
    <!-- Define the maximum acceptable metric value section -->
    <section name="MaximumAcceptableMetricValue" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <appSettings>
    <!-- Determines if running in interactive (GUI) mode (not a CI pipeline).-->
    <!-- For CI pipeline use value="CI" -->
    <add key="Environment" value="Interactive" />
    <add key="DefaultFunctionalReqFilePath" value="\Plugins\FunctionalReq.xlsx"/>
    <add key="CIFunctionalReqFilePath" value="./RCM/Plugins/FunctionalReq.xlsx"/>
    <add key="CISettingsPath" value="./RCM/Settings/Settings.xml"/>
    <add key="CIOutputSettingsPath" value="./RCM/Settings"/>
  </appSettings>
  
  <!-- Define the standard metric values -->
  <MaximumAcceptableMetricValue>
    <add key="Conjunctions" value="5" />
    <add key="VaguePhrases" value="0" />
    <add key="Optionality" value="0" />
    <add key="Subjectivity" value="0" />
    <add key="References" value="4" />
    <add key="Weakness" value="0" />
    <add key="Imperatives" value="5" />
    <add key="Continuances" value="5" />
    <add key="Imperatives2" value="5" />
    <add key="References2" value="4" />
    <add key="ARI" value="71" />
  </MaximumAcceptableMetricValue>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
