<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net40" />
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net40" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" />
</packages>